In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.dates as mdates

In [2]:
df = pd.read_csv("electric.csv")

In [3]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2007-02-01,00:00:00,0.326,0.128,243.15,1.4,0.0,0.0,0.0
1,2007-02-01,00:01:00,0.326,0.130,243.32,1.4,0.0,0.0,0.0
2,2007-02-01,00:02:00,0.324,0.132,243.51,1.4,0.0,0.0,0.0
3,2007-02-01,00:03:00,0.324,0.134,243.90,1.4,0.0,0.0,0.0
4,2007-02-01,00:04:00,0.322,0.130,243.16,1.4,0.0,0.0,0.0

In [12]:
df.dtypes

Date                      object
Time                      object
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtype: object